* {
    font-family: "Outfit", sans-serif;
}

body {
    width: auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.wrapper {
    width: 50%;
    height: auto;
    background-color: rgb(15, 15, 15);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 3px solid rgb(255, 230, 51);
    color: rgb(245, 245, 245);
}

.red {
    color: red;
}

.button {
    background-color: rgb(253, 25, 140);
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 20px;
    padding: 10px 16px;
    text-align: center;
}

.button:hover,
.button:focus {
    background-color: #F082AC;
}
