:root {
    --yellow: rgb(255, 230, 51);
    --red: red;
    --pink: rgb(253, 25, 140);
    --grey: grey;
    --black: rgb(15, 15, 15);
    --lightgrey: rgb(245, 245, 245);
    --babypink:  #F082AC;
    --white: white;
}

* {
    font-family: "Outfit", sans-serif;
}

body {
    width: auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: light-dark(var(--grey), black);
}

.wrapper {
    width: 50%;
    height: auto;
    background-color: var(--black);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 3px solid var(--yellow);
    color: var(--lightgrey);
}

.red {
    color: var(--red);
}

.button {
    background-color: var(--pink);
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 20px;
    padding: 10px 16px;
    text-align: center;
}

.button:hover,
.button:focus {
    background-color: var(--babypink);
}
